venv/
.venv/
__pycache__/
.ipynb_checkpoints/
dataset/*
!dataset/.gitkeep
checkpoints/
**/checkpoints/
!models/checkpoints/
models/checkpoints/*
!models/checkpoints/.gitkeep
models/*.pth
models/*.pt
*.ckpt
*.pth
*.pt
